{% extends 'layout.html' %}
{% block content%}
    {% if notifications or new_notifications %}
        {% if new_notifications %}
            <h3 class="cover-heading">
                Latest News
            </h3>
            <table class="table-striped align-content-center" style="min-width: 1110px">
            <tr>
                <th class="tableTitle"> Device Name </th>
                <th class="tableTitle"> Message </th>
                <th class="tableTitle"> <button class="custom-link btn btn-danger" id="delete-news-btn"> Clean Notifications </button></th>
            </tr>
                {% for notification in new_notifications %}
                    <tr>
                        <td class="tableCell">{{ notification.device.name }}</td>
                        <td class="tableCell">{{ notification.message}}</td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
        {% if notifications %}
            <h3 class="cover-heading">
                Read Notifications
            </h3>
            <table class="table-striped align-content-center" style="min-width: 1110px">
            <tr>
                <th class="tableTitle"> Device Name </th>
                <th class="tableTitle"> Message </th>
                {% if not new_notifications %}
                    <th> <button class="custom-link btn btn-danger" id="delete-news-btn"> Clean Notifications </button></th>
                    </th>

                {% endif %}
            </tr>
                {% for notification in notifications %}
                    <tr>
                        <td class="tableCell">{{ notification.device.name }}</td>
                        <td class="tableCell">{{ notification.message}}</td>
                        {% if not new_notifications %}
                            <td></td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    {% else %}
        <p class="lead">No new notifications.</p>
    {% endif %}
{% endblock%}