{% extends 'layout.html' %}
{% block content%}
<h1>
	Login
</h1>
<form action="" class="col-sm-12 col-md-10 col-lg-6" method="post">
    {% csrf_token %}
    {{ loginForm.errors.username }}
    {% load widget_tweaks %}
    <a class="form-inline">
        <label class="col-sm-4 align-left"> {{ loginForm.username.label }}: </label>
                {% render_field loginForm.username|append_attr:"class:form-control col-sm-8" %}
    </a>
    <a class="form-inline">
        <label class="col-sm-4" > {{ loginForm.password.label }}: </label>
                {% render_field loginForm.password|append_attr:"class:form-control col-sm-8" %}
    </a>
    <input type="submit" class="btn btn-default align-right" value="Submit" />
</form>
{% endblock%}