{% extends 'layout.html' %}
{% block content%}
    	<link rel="stylesheet" href="/home/templates/home/content/css/layout_style.css">

<h1>
	Manage
</h1>

<form action="" class="col-sm-12 col-md-10 col-lg-6" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <a class="form-inline">
        <label class="col-sm-4 align-left"> {{ manageAccountForm.birthDate.label }}: </label>
                {% render_field manageAccountForm.birthDate|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:DD/MM/YYYY" %}
                            {{ manageAccountForm.errors.birthDate }}
    </a>
    <a class="form-inline">
        <label class="col-sm-4" > {{ manageAccountForm.email.label }}: </label>
                {% render_field manageAccountForm.email|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:johndoe@example.com" %}
                            {{ manageAccountForm.errors.email }}
    </a>
    <a class="form-inline align-left">
        <label class="col-sm-4"> {{ manageAccountForm.firstName.label }}: </label>
                {% render_field manageAccountForm.firstName|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:John" %}
                            {{ manageAccountForm.errors.firstName }}
    </a>
    <a class="form-inline align-left">
        <label class="col-sm-4"> {{ manageAccountForm.lastName.label }}: </label>
                {% render_field manageAccountForm.lastName|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:Doe" %}
                            {{ manageAccountForm.errors.lastName }}
    </a>
    <a class="form-inline align-left">
        <label class="col-sm-4"> {{ manageAccountForm.phoneNumber.label }}: </label>
                {% render_field manageAccountForm.phoneNumber|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:(11) 11111-1111" %}
                            {{ manageAccountForm.errors.phoneNumber }}
    </a>
    <a class="form-inline align-left">
        <label class="col-sm-4"> {{ manageAccountForm.password.label }}: </label>
                {% render_field manageAccountForm.password|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:Password" %}
                            {{ manageAccountForm.errors.password }}
    </a>

    <a class="form-inline align-left">
        <label class="col-sm-4"> {{ manageAccountForm.confirmPassword.label }}: </label>
                {% render_field manageAccountForm.confirmPassword|append_attr:"class:form-control col-sm-4"|append_attr:"placeholder:Confirm Password" %}
                            <a class="col-sm-4">{{ manageAccountForm.errors.confirmPassword }} </a>
    </a>
    <input type="submit" class="btn btn-default align-right" value="Submit" />
</form>
<div class="col-lg-6">
</div>
{% endblock%}