<!DOCTYPE html>
<html>

<head>
    {% if current_page %}
        <title>{{ current_page }}</title>
    {% else %}
        <title>Safe And Sound</title>
    {% endif %}
    {% load static from staticfiles %}

    <meta http-equiv="Content-Type" content="text/html, charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static "content/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static 'content/js/layout_js.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "content/css/layout_style.css" %}">

    {% load widget_tweaks %}

</head>

<body>
<div class="site-wrapper">
    <div class="container">
        <div class="masthead clearfix">
            <div class="container inner">
                <h3 class="masthead-brand">Safe And Sound</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li {% if current_page == 'Safe And Sound' %} class="active" {% endif %}>
                            <a href="/">Home</a>
                        </li>
                        {% if currentUser %}
                            <li {% if current_page == 'Manage Account' %}class="active" {% endif %}>
                                <a href="/home/manage">{{ currentUser.email }}</a>
                            </li>
                            <li {% if current_page == 'List Devices' %} class="active" {% endif %}>
                                <a href="/devices/list">Devices</a>
                            </li>
                            <li {% if current_page == 'News' %} class="active" {% endif %}>
                                <a href="/notifications/">News</a>
                            </li>
                            <li>
                                <a href="/home/logout">Log out</a>
                            </li>
                        {% else %}
                            <li {% if current_page == 'Register' %} class="active" {% endif %}>
                                <a href="/home/register">Register</a>
                            </li>
                            <li {% if current_page == 'Login' %} class="active" {% endif %}>
                                <a href="/home/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="site-wrapper-inner" id="block-content">
                {% block content %}
                {% endblock %}
        </div>

    </div>

</div>
</body>


</html>