<!DOCTYPE html>
<html>

<head>
	<title>Safe And Sound</title>

    {% load static from staticfiles%}

	<meta http-equiv="Content-Type" content="text/html, charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static "content/css/layout_style.css" %}">
	<link rel="stylesheet" href="{% static 'content/js/layout_js.js' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load widget_tweaks %}

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item">
		                {% if currentUser %}
		                	<span style="color: rgba(255,255,255,.5)">
                                Hello, <span href="/home/manage"> {{ currentUser.firstName}}</span>
                            </span>
		            	{%endif%}
		            </li>
		        </ul>
		    </div>
		    <div class="mx-auto order-0">
		        <a class="navbar-brand mx-auto" href="/home/">Safe 'N' Sound</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		    </div>
		    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		        <ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		            	{% if currentUser %}
		                	<a class="nav-link" href="/home/manage">{{ currentUser.email}}</a>
		                {% else %}
		                	<a class="nav-link" href="/home/login">Login</a>
		            	{%endif%}
		            </li>
                    {% if currentUser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/home/logout">Logout</a>
                        </li>
                    {%endif%}
		            <li class="nav-item">
		                <a class="nav-link" href="/home/register">Register</a>
		            </li>
		        </ul>
		    </div>
		</nav>

		<div class="jumbotron">
			{% block content %}
            {% endblock %}
		</div>
	</div>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-bottom">
		<div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		        <div >
		        	<span>
						<p class="navbar-text">Produced by: Carriço Corp</p>
					</span>
				</div>
		    </ul>
	  </div>
	</nav>

</body>


</html>